[submodule "third_party/AmazingHandControl"]
	path = third_party/AmazingHandControl
	url = https://github.com/Betatester777/AmazingHandControl.git
[submodule "third_party/lerobot"]
	path = third_party/lerobot
	url = https://github.com/huggingface/lerobot.git
[submodule "third_party/robot_arm_vr"]
	path = third_party/robot_arm_vr
	url = https://github.com/dingdongdengdong/robot_arm_vr.git
